.filter__container {
  @include container(0, 0, 10px);
  padding-top: 10px;

  @include from-tablet {
    padding-top: 20px;
  }

  @include from-desktop {
    padding-top: 2px;
    padding-bottom: 28px;
  }
}

.filter__tagline {
  @include reset-m-p;
  @include padding-center(10px);
  margin-right: 24px;
  margin-left: 20px;
  margin-bottom: 42px;

  @include font-size-height(14px, 30px);
  text-align: center;

  @include from-tablet {
    @include padding-center(100px);
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 69px;

    font-size: 18px;
  }

  @include from-desktop {
    @include padding-center(250px);
    margin-bottom: 66px;
  }
}

.filter__interactive-wrapper {
  padding-top: 20px;
  padding-bottom: 41px;

  background-color: $grey;

  @include from-tablet {
    @include padding-center(20px);
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @include from-desktop {
    padding: 57px 60px 57px 80px;
  }
}

.filter__img-wrapper {
  width: 100%;
  margin-bottom: 40px;

  @include padding-center(20px);

  @include from-tablet {
    @include padding-center(0);
    width: 48.39%;
    margin-bottom: 0;
  }

  @include from-desktop {
    width: 300px;
  }
}

.filter__img {
  display: block;
  width: 100%;
  height: auto;
}

.filter__form {
  width: 100%;

  @include from-tablet {
    width: 48.39%;
    padding-left: 4.03%;
  }

  @include from-desktop {
    width: 410px;
    padding-left: 0;
  }
}

.filter__list {
  position: relative;

  @include list;
  @include padding-center(38px);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 34px;
  margin-bottom: 38px;

  border-bottom: 1px solid rgba($dark-blue, 0.1);

  @include from-tablet {
    @include padding-center(0);
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 0;
    margin-bottom: 40px;

    border-bottom: none;
  }

  @include from-desktop {
    width: 410px;
    padding-top: 0;
    margin-top: -5px;
    margin-bottom: 131px;
  }
}

.filter__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  margin-bottom: 37px;
  padding-right: 5px;

  @include from-tablet {
    justify-content: flex-start;
    width: 100%;
    padding-right: 0;
    padding-bottom: 21px;
    margin-bottom: 24px;

    border-bottom: 1px solid rgba($dark-blue, 0.1);
  }

  @include from-desktop {
    padding-bottom: 9px;
    margin-bottom: 12px;
  }
}

.filter__effect-button {
  width: 50px;
  height: 50px;
  padding: 0;

  background-color: transparent;
  border: none;

  @include from-tablet {
    width: 27px;
    height: 27px;
    margin-right: 28px;

    @include current;
  }

  @include from-desktop {
    width: 51px;
    height: 51px;
    margin-right: 44px;
    margin-left: -3px;
  }

  &--active {
    @include current;

    + .filter__range {
      @include only-mobile {
        display: block;
      }
    }

    .filter__effect-icon {
      @include only-mobile {
        fill: $pink;
        opacity: 1;
      }
    }
  }

  &:hover {
    .filter__effect-icon {
      opacity: 0.5;
    }
  }
}

.filter__effect-icon {
  width: auto;
  height: 49px;

  fill: $dark-blue;
  opacity: 0.3;

  @include from-tablet {
    height: 23px;

    fill: $pink;
    opacity: 1;
  }

  @include from-desktop {
    height: 48px;
  }

  &--contrast {
    height: 32px;

    @include from-tablet {
      height: 16px;
    }

    @include from-desktop {
      height: 33px;
    }
  }
}

.filter__range {
  position: absolute;
  bottom: 34px;
  left: 38px;
  right: 42px;

  display: none;
  height: 2px;

  background-color: $dark-blue;

  @include from-tablet {
    position: relative;
    bottom: auto;
    left: auto;
    right: auto;

    display: block;
    min-width: 50px;
    flex-grow: 1;
    margin-right: 18px;
    margin-bottom: 2px;
  }

  @include from-desktop {
    margin-right: 30px;
  }
}

.filter__range-button {
  position: absolute;
  top: -6px;
  left: 0;

  width: 14px;
  height: 14px;
  padding: 0;

  background-color: $grey;
  border: 2px solid $pink;
  border-radius: 50%;

  cursor: pointer;

  &--crop {
    left: 80.42%;

    @include from-tablet {
      left: 72.28%;
    }

    @include from-desktop {
      left: 24.65%;
    }
  }

  &--fill {
    left: 12.38%;

    @include from-desktop {
      left: 85.76%;
    }
  }

  &--contrast {
    left: 47.52%;

    @include from-desktop {
      left: 55.56%;
    }
  }

  &:active {
    background-color: $pink;
  }
}

.filter__action-wrapper {
  @include padding-center(20px);
  width: 100%;

  @include from-tablet {
    padding-left: 2px;
    padding-right: 13px;
  }

  @include from-desktop {
    @include padding-center(0);
    display: flex;
    justify-content: space-between;
  }
}

.filter__action-button {
  display: block;
  width: 100%;
  padding: 14px 20px 17px;

  @include font-size-height(18px, 18px);
  font-weight: 700;

  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;

  cursor: pointer;

  @include from-desktop {
    width: 183px;
  }

  &--upload {
    margin-bottom: 12px;

    color: $pink;

    border-color: $pink;

    @include from-tablet {
      margin-bottom: 24px;
    }

    @include from-desktop {
      margin-bottom: 0;
    }

    &:hover {
      @include from-desktop {
        color: $white;

        background-color: $pink;
      }
    }

    &:active {
      color: rgba($white, 0.3);

      background-color: $pink;
    }
  }

  &--cancel {
    color: $dark-blue;

    opacity: 0.1;
    border-color: $dark-blue;

    &:hover {
      @include from-desktop {
        opacity: 0.3;
      }
    }

    &:active {
      color: rgba($white, 0.3);

      background-color: $dark-blue;
      opacity: 0.3;
    }
  }
}
