.main {
  color: $dark-blue;
}

.main__wrapper {
  background-image: linear-gradient(175.6deg, $white 376px, $grey 376px);

  @include from-tablet {
    background-image: linear-gradient(175.6deg, $white 363px, $grey 363px);
  }

  @include from-desktop {
    background-image: linear-gradient(176.2deg, $white 48.5%, $grey 48.6%);
  }
}
