.photo {
  @include from-desktop {
    overflow: hidden;
  }
}

.photo__container {
  @include container;
  padding-top: 45px;
  padding-bottom: 10px;

  @include from-tablet {
    padding-top: 92px;
    padding-bottom: 25px;
  }

  @include from-desktop {
    padding-bottom: 3px;
  }
}

.photo__tagline {
  @include reset-m-p;
  @include padding-center(15px);
  margin-bottom: 49px;

  @include font-size-height(14px, 30px);
  text-align: center;

  @include from-tablet {
    @include padding-center(50px);
    margin-bottom: 76px;

    font-size: 18px;
  }

  @include from-desktop {
    @include padding-center(150px);
    margin-bottom: 88px;
  }
}

.photo__list {
  @include list;

  @include from-tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include from-desktop {
    justify-content: flex-start;
    margin-left: -20px;
  }
}

.photo__item {
  margin-bottom: 20px;

  @include font-size-height(14px, 24px);

  background-color: $grey;

  @include from-tablet {
    width: 48.39%;
  }

  @include from-desktop {
    width: 300px;
    margin-bottom: 54px;
    margin-left: 20px;
  }

  &--main {
    position: relative;

    @include from-tablet {
      width: 100%;
      margin-bottom: 50px;
    }

    @include from-desktop {
      width: 940px;
    }

    .photo__img-wrapper {
      position: relative;
      left: 50%;

      width: calc(100% + 40px);

      transform: translateX(-50%);

      @include from-tablet {
        width: calc(100% + 80px);
      }

      @include from-desktop {
        width: 1200px;
      }
    }

    .photo__panorama-label {
      display: block;
    }

    .photo__user-wrapper {
      @include from-tablet {
        display: flex;
        flex-wrap: wrap;
        padding-right: 28px;
      }
    }

    .photo__user-comment {
      @include from-tablet {
        width: 100%;
        order: 1;
        margin-bottom: 3px;
      }

      @include from-desktop {
        min-height: 0;
        margin-bottom: 2px;
      }
    }

    .photo__user-info {
      @include from-tablet {
        margin-right: auto;
      }
    }

    .photo__icon-like {
      @include from-tablet {
        margin-left: 16px;
      }

      @include from-desktop {
        margin-left: 18px;
      }
    }
  }
}

.photo__panorama-label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: none;
  width: 50%;
  padding: 6px 5px;

  font-weight: 700;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  background-color: $pink;


  @include from-tablet {
    top: 9.1%;

    width: 22.59%;
  }

  @include from-desktop {
    top: 54px;

    width: 140px;
  }
}

.photo__img-wrapper {
  display: block;
  width: 100%;
  height: auto;

  &:hover {
    @include from-desktop {
      opacity: 0.9;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.photo__img {
  display: block;
  width: 100%;
  height: auto;
}

.photo__user-wrapper {
  padding: 18px 17px 20px;

  @include from-tablet {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 31px;
    padding-bottom: 22px;
  }
}

.photo__user-info {
  display: block;
  margin-bottom: -1px;

  font-weight: 700;

  span {
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.photo__user-comment {
  @include reset-m-p;
  min-height: 26px;
  max-height: 97px;
  margin-bottom: 9px;
  overflow: hidden;

  @include from-tablet {
    min-height: 48px;
    margin-bottom: 13px;
  }

  &--dif {
    @include only-mobile {
      margin-bottom: 10px;
    }
  }
}

.photo__user-like {
  display: flex;
  align-items: center;

  font-size: 12px;
  color: $pink;
  text-transform: uppercase;
}

.photo__icon-like {
  width: 15px;
  height: 12px;
  margin-right: 17px;

  @include from-tablet {
    order: 1;
    margin-top: -2px;
    margin-right: 0;
    margin-left: auto;
  }
}
