.promo {
  position: relative;
  z-index: 1;

  text-align: center;

  @include from-tablet {
    width: 48.39%;
  }

  @include from-desktop {
    width: 300px;
  }

  &::before {
    @include pseudo(absolute);
    top: 87px;
    left: -20px;
    z-index: -1;

    width: 258px;
    height: 286px;

    background-image: url("../img/bg-iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include from-retina {
      background-image: url("../img/bg-iphone-hand-mobile@2x.png");
    }

    @include from-tablet {
      display: none;
    }

    @include from-desktop {
      background-image: url("../img/bg-iphone-hand-desktop@1x.png");

      @include from-retina {
        background-image: url("../img/bg-iphone-hand-desktop@2x.png");
      }
    }
  }
}

.promo__tagline {
  @include main-tagline;
  min-height: 58px;
  margin-bottom: 343px;

  @include from-tablet {
    @include padding-center(30px);
    min-height: 144px;
    margin-bottom: 31px;
  }

  @include from-desktop {
    margin-bottom: 52px;
  }
}

.promo__button-download {
  display: block;
  width: 100%;
  padding: 14px 10px 17px;
  margin-bottom: 32px;

  @include font-size-height(18px, 18px);
  color: inherit;
  font-weight: 700;
  text-decoration: none;

  border: 3px solid $white;
  border-radius: 50px;

  @include from-tablet {
    padding-top: 14px;
    padding-bottom: 17px;
    margin-bottom: 45px;
  }

  @include from-desktop {
    @include font-size-height(21px, 21px);
    padding-top: 13px;
    padding-bottom: 15px;
    margin-bottom: 67px;
  }

  &:hover {
    @include from-desktop {
      color: $pink;

      background-color: $white;
    }
  }

  &:active {
    color: rgba($pink, 0.3);

    background-color: $white;
  }
}

.promo__store-list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: -25px;

  @include from-desktop {
    margin-bottom: 17px;
  }
}

.promo__store-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  margin-left: 25px;
  margin-bottom: 16px;

  @include from-tablet {
    margin-bottom: 32px;
  }
}

.promo__store-link {
  display: block;

  &--apple {
    width: 47px;
    height: 57px;
    margin-bottom: 5px;
  }

  &--android {
    width: 42px;
    height: 47px;
  }

  &--microsoft {
    width: 44px;
    height: 42px;
  }

  &:hover {
    @include from-desktop {
      opacity: 0.7;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.promo__store-icon {
  width: 100%;
  height: auto;
}

.promo__info {
  display: block;
  margin-bottom: 9px;

  @include font-size-height(14px, 24px);
  font-weight: 300;

  @include from-tablet {
    font-size: 18px;
  }
}
