$font-stack: "Open Sans", "Arial Narrow", sans-serif;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;
$retina: 1.5dppx;
$white: #ffffff;
$black: #000000;
$pink: #d22856;
$dark-blue: #283645;
$grey: #f2f2f2;
